<?xml version="1.0" encoding="utf-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <Patternlayout pattern=""/>
        </Console>
    </Appenders>
    <Loggers>

        <Root level="INFO">
            <Appenderref ref="console"/>
        </Root>

    </Loggers>
</Configuration>
